body {
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;


}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  font-size: 80px;
  padding: 80px;
  height: 80px;
  border-radius: 20px;
  border-style: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: rgba(148, 187, 233, .35);
}

button:hover {
  /* Scale the element up by 20% (1.2 times its original size) */
  transform: scale(1.2);
}
